{% extends "base.html" %} 
{% load static %} 
{% block docTitle %}
<title>Services</title>
{% endblock %}
{% block navLinks %}
<a href="/">Home</a>
<a href="../products">Products</a>
<a href="../services" class="active">Services</a>
<a href="../about">About</a>
<a href="../contact">Contact</a>
{% endblock %}
{% block hamburgerNavLinks %}
<a href="home.html">Home</a>
<a href="../products">Products</a>
<a href="../about">About</a>
<a href="../contact">Contact</a>
{% endblock %}
{% block content %}
<main class="main">
  <section id="service-intro">
    <h1 class="heading1">Services We Offer</h1>
    <hr />
  </section>
  <section id="service-cards">
    <div class="service-card">
      <div class="service-card-inner">
        <div class="service-card-front">
          <img
            src="{% static 'images/sell.png' %}"
            alt="machine"
            style="width: 300; height: 200px"
          />
          <h1>Sell</h1>
        </div>
        <div class="service-card-back">
          <h1>What We Sell</h1>
          <p>
            Here at CEWA, we sell a wide range of machines including scrubbers,
            sweepers, vacuums, carpet extractors and foggers. We also keep in
            stock necessary spare parts for your convenience.
          </p>
        </div>
      </div>
    </div>
    <div class="service-card">
      <div class="service-card-inner">
        <div class="service-card-front">
          <img
            src="{% static 'images/maintenance.png' %}"
            alt="machine"
            style="width: 300; height: 200px"
          />
          <h1>Maintenance</h1>
        </div>
        <div class="service-card-back">
          <h1>Machine Maintenance</h1>
          <p>
            We perform maintanence on our machines every 6 months by default, we
            are happy to provide an earlier service if needed. This ensures that
            you have a quality machine that lasts you a long time.
          </p>
        </div>
      </div>
    </div>
    <div class="service-card">
      <div class="service-card-inner">
        <div class="service-card-front">
          <img
            src="{% static 'images/repairs.png' %}"
            alt="machine"
            style="width: 300; height: 200px"
          />
          <h1>Repairs</h1>
        </div>
        <div class="service-card-back">
          <h1>Machine Repairs</h1>
          <p>
            We have many parts in stock, on hand ready to go should a part of
            the machine break. We repair our machines promptly and effectively
            if something is to go wrong... which it doesn't very often.
          </p>
        </div>
      </div>
    </div>
    <div class="service-card">
      <div class="service-card-inner">
        <div class="service-card-front">
          <img
            src="{% static 'images/demonstration.png' %}"
            alt="machine"
            style="width: 300; height: 200px"
          />
          <h1>Demonstrations</h1>
        </div>
        <div class="service-card-back">
          <h1>Demonstrations</h1>
          <p>
            If you are unsure of whether a machine will suit your area,
            or if you are unfamiliar with this sort of equipment. We will assist 
            you there as well, reach out to book a demonstration.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="service-videos">
    <h1 class="heading1">General Maintenance of Machines</h1>
    <p> Here we use a GM70BT to demonstrate some basic things to look for if 
      things aren't working. This could potentially save you time and money.</p>
    <div class="yt-video">
      <iframe
        width="650px"
        height="370px"
        src="https://www.youtube.com/embed/hj0tLWd4EFI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p>
      If the above video don't help your issue, get in touch with us directly
      and we will be more than happy to help you out.
    </p>
    <br />
    <p><a href="../contact">Contact Us</a></p>
  </section>
  <br />
  <br />
</main>
{% endblock%}
