{% extends "machines/machine-base.html" %} 
{% load static %} 
{% block docTitle %}
<title>GM130</title>
{% endblock %} 
{% block machineName %}
<h1>GM130</h1>
<h3>Ride On Scrubber</h3>
<hr />
{% endblock%}
{% block specs %}
<img src="{% static 'images/gm130.png' %}" alt="gm130" >
<img src="{% static 'images/gm130-specs.png' %}" alt="gm130 specs" class="specs">
{% endblock %}
{% block usage %}
The Ride On GM130 is great for large and open areas. They're efficient and fast 
when it comes to cleaning and can make light work of all suited areas.
{% endblock %}
{% block brochure %}
<a href="{% static 'brochures/gm130-brochure.pdf' %}" target="_blank">Click Here for the GM130 Brochure</a>
{% endblock %}
{% block returnButton%} 
<a href="../scrubbers">Return to Scrubbers</a>
{% endblock %}