{% extends "machines/machine-base.html" %} 
{% load static %} 
{% block docTitle %}
<title>GM160</title>
{% endblock %} 
{% block machineName %}
<h1>GM160</h1>
<h3>Ride On Scrubber</h3>
<hr />
{% endblock%}
{% block specs %}
<img src="{% static 'images/gm160.png' %}" alt="gm160" >
<img src="{% static 'images/gm160-specs.png' %}" alt="gm160 specs" class="specs">
{% endblock %}
{% block usage %}
The Ride On GM160 is fantastic for large and open areas. They're larger than the GM130 and i130, 
thus are better suited for larger areas wanting a faster clean.
{% endblock %}
{% block brochure %}
<a href="{% static 'brochures/gm130-brochure.pdf' %}" target="_blank">Click Here for the GM160 Brochure</a> 
{% endblock %}
{% block returnButton%} 
<a href="../scrubbers">Return to Scrubbers</a>
{% endblock %}