{% extends "machines/machine-base.html" %} 
{% load static %} 
{% block docTitle %}
<title>GM230</title>
{% endblock %} 
{% block machineName %}
<h1>GM230</h1>
<h3>Ride On Scrubber</h3>
<hr />
{% endblock%}
{% block specs %}
<img src="{% static 'images/gm230.png' %}" alt="gm230" >
<img src="{% static 'images/gm230-specs.png' %}" alt="gm230 specs" class="specs">
{% endblock %}
{% block usage %}
no usage yet
{% endblock %}
{% block brochure %}
<a href="{% static 'brochures/gm230-brochure.pdf' %}" target="_blank">Click Here for the GM230 Brochure</a>
{% endblock %}
{% block returnButton%} 
<a href="../scrubbers">Return to Scrubbers</a>
{% endblock %}