{% extends "machines/machine-base.html" %} 
{% load static %} 
{% block docTitle %}
<title>GM65RBT</title>
{% endblock %} 
{% block machineName %}
<h1>GM65RBT</h1>
<h3>Walk Behind Scrubber</h3>
<hr />
{% endblock%}
{% block specs %}
<img src="{% static 'images/gm65rbt.png' %}" alt="gm65rbt" >
<img src="{% static 'images/gm65rbt-specs.png' %}" alt="gm65rbt specs" class="specs">
{% endblock %}
{% block usage %}
The GM65RBT is a robust scrubber and sweeper with outstanding cleaning efficiency indoors 
and outdoors. It is most suited for the warehouse and logistics industry. It has a double 
rolling brush design, with the scrubbing and sweeping functions grouped together.
{% endblock %}
{% block brochure %}
{% comment %} TODO: Brochure {% endcomment %}
{% comment %} <a href="{% static '' %}" target="_blank">Click Here for the GM65RBT Brochure</a> {% endcomment %}
{% endblock %}
{% block returnButton%} 
<a href="../scrubbers">Return to Scrubbers</a>
{% endblock %}