{% extends "machines/machine-base.html" %} 
{% load static %} 
{% block docTitle %}
<title>GM70BT</title>
{% endblock %} 
{% block machineName %}
<h1>GM70BT</h1>
<h3>Walk Behind Scrubber</h3>
<hr />
{% endblock%}
{% block specs %}
<img src="{% static 'images/gm70bt.png' %}" alt="gm70bt" >
<img src="{% static 'images/gm70bt-specs.png' %}" alt="gm70bt specs" class="specs">
{% endblock %}
{% block usage %}
This machine will clean 3150 M2/hr and is suited for shopping centres,
warehouses, sporting complexes, larger industrial floors, hallways,
gymnasiums, swimming pools, nursing homes, commercial buildings,
carparks, and car workshops.
{% endblock %}
{% block brochure %}
<a href="{% static 'brochures/gm70bt-brochure.pdf' %}" target="_blank">Click Here for the GM70BT Brochure</a>
{% endblock %}
{% block returnButton%} 
<a href="../scrubbers">Return to Scrubbers</a>
{% endblock %}