{% extends "machines/machine-base.html" %} 
{% load static %} 
{% block docTitle %}
<title>i35b</title>
{% endblock %} 
{% block machineName %}
<h1>i35b</h1>
<h3>Walk Behind Scrubber</h3>
<hr />
{% endblock%}
{% block specs %}
<img src="{% static 'images/i35b.png' %}" alt="i35b" >
<img src="{% static 'images/i35b-specs.png' %}" alt="i35b specs" class="specs">
{% endblock %}
{% block usage %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quos repudiandae distinctio. Dolor, voluptate debitis?
{% endblock %}
{% block brochure %}
<a href="{% static 'brochures/i35b-brochures.jpg' %}" target="_blank">Click Here for the i35b Brochure</a>
{% endblock %}
{% block returnButton%} 
<a href="../scrubbers">Return to Scrubbers</a>
{% endblock %}