{% extends "machines/machine-base.html" %} 
{% load static %} 
{% block docTitle %}
<title>V20</title>
{% endblock %} 
{% block machineName %}
<h1>V20</h1>
<h3>Ultra-low Noise Vacuum Cleaner</h3>
<hr />
{% endblock%}
{% block specs %}
<img src="{% static 'images/v20.png' %}" alt="v20" >
<img src="{% static 'images/v20-specs.png' %}" alt="v20 specs" class="specs">
{% endblock %}
{% block usage %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quos repudiandae distinctio. Dolor, voluptate debitis?
{% endblock %}
{% block brochure %}
<a href="{% static 'brochures/v20-brochure.pdf"' %}" target="_blank">Click Here for the v20 Brochure</a>
{% endblock %}
{% block returnButton%} 
<a href="../vacuums">Return to Vacuums</a>
{% endblock %}