{% extends "machines/machine-base.html" %} 
{% load static %} 
{% block docTitle %}
<title>W86</title>
{% endblock %} 
{% block machineName %}
<h1>W86</h1>
<h3>Wet and Dry Vacuum Cleaner</h3>
<hr />
{% endblock%}
{% block specs %}
<img src="{% static 'images/w86.png' %}" alt="w86" >
<img src="{% static 'images/w86-specs.png' %}" alt="w86 specs" class="specs">
{% endblock %}
{% block usage %}
The W86 wet and dry vacuum is a high quality machine suited for hotels, restaurants, 
offices, schools, supermarkets, mining companies, and hospitals. It is larger than 
the W36 and has more suction power making it better suited for larger areas.
{% endblock %}
{% block brochure %}
<a href="{% static 'brochures/w36-w86-brochure.pdf' %}" target="_blank">Click Here for the w86 Brochure</a>
{% endblock %}
{% block returnButton%} 
<a href="../vacuums">Return to Vacuums</a>
{% endblock %}
