:root {
    --primaryBlue: #0084f0;
    --white: #eeeeee;
    --lightBlue: #98e3e9;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container * {
    flex: 1;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--white);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}

#cewa-logo {
    max-height: 6em;
    max-width: 10em;
}

#iclean-logo {
    max-width: 4em;
    max-height: 4em;
}

.align1 {
    justify-content: flex-start;
}

.align2 {
    display: flex;
    justify-content: end;
}

.hamburger {
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    float: right;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--black);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(-10px);
    background-color: var(--primaryBlue);
}

.hamburger.active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.active:hover span {
    background-color: var(--primaryBlue);
}

.menu {
    display: none;
    justify-content: center;
}

.menu a {
    color: var(--primaryBlue);
    margin: 0 16px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.active,
.menu a:hover {
    background-color: var(--primaryBlue);
    color: var(--white);
}

.hamburgerLinks {
    display: none;
    color: var(--primaryBlue);
}

.hamburgerLinks.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3em;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--primaryBlue);
}

.hamburgerLinks.active a {
    text-decoration: none;
    color: var(--primaryBlue);
}

.hamburgerLinks.active a:hover {
    border-radius: 99px;
    padding: 10px;
    background-color: var(--primaryBlue);
    color: white;
}

main {
    padding-top: 100px;
    max-width: 1520px;
    margin: 0 auto;
}

.heading1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: var(--primaryBlue);
    text-align: center;
    padding-block: 20px;
    text-shadow: 0px 15px 10px rgba(0, 0, 0, 0.2);
}

#service-videos p {
    display: flex;
    font-family: arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    padding: 20px 20vh 0px 20vh;
    max-width: 1300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    justify-content: center;
}

#service-videos a {
    text-decoration: none;
    color: var(--primaryBlue);
}

#service-videos a:hover {
    letter-spacing: 4px;
}

.go-back {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.go-back input {
    color: var(--primaryBlue);
    font-size: 20px;
    font-family: monospace;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
    border: 2px solid var(--primaryBlue);
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}

.go-back input:hover {
    background-color: var(--primaryBlue);
    color: white;
    letter-spacing: 2px;
    opacity: 0.8;
}

hr {
    margin: 0 auto;
    opacity: 0.3;
    /* margin-top: 10px;
  margin-bottom: 10px; */
    width: 50%;
}

#service-videos hr {
    margin-top: 30px;
    margin-bottom: 10px;
}

#products-intro,
#vacuums-intro,
#scrubbers-intro,
#sweepers-intro,
#polishers-intro,
#carpet-accessories-intro,
#misc-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome .text,
#products-intro p {
    display: flex;
    font-family: arial, sans-serif;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-bottom: 20px;
    max-width: 1300px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

#products-intro a,
#vacuums-intro a,
#scrubbers-intro a,
#sweepers-intro a,
#polishers-intro a,
#carpet-accessories-intro a,
#misc-intro a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: var(--primaryBlue);
    display: flex;
    justify-content: center;
    padding-block: 10px;
    text-decoration: none;
    max-width: fit-content;
}

#products-intro a:hover,
#vacuums-intro a:hover,
#scrubbers-intro a:hover,
#sweepers-intro a:hover,
#polishers-intro a:hover,
#carpet-accessories-intro a:hover,
#misc-intro a:hover {
    letter-spacing: 1px;
}

#home-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
}

#home-boxes p {
    background-color: var(--primaryBlue);
    border-style: hidden solid solid solid;
    border: 1px hidden white;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 1px;
    max-width: 450px;
}

#home-boxes p:hover {
    background-color: #ffffff;
    color: var(--primaryBlue);
}

.home-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    margin-left: 25px;
    max-width: fit-content;
    margin-top: 70px;
}

.home-box img {
    max-width: 450px;
}

.home-box-text {
    position: relative;
    top: -58px;
    opacity: 10;
}

.home-box-text a {
    text-decoration: none;
}

.home-box-text:hover {
    letter-spacing: 3px;
    font-weight: 700;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer img {
    width: 200px;
    margin-bottom: 10px;
}

#footer p {
    margin-bottom: 15px;
    opacity: 0.7;
    font-size: 17px;
    font-family: monospace;
}

#product-boxes {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-box {
    max-width: 320px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
    transition: width 0.3s, height 0.3s;
    margin-left: 30px;
    margin-bottom: 30px;
}

.product-box:hover {
    width: 328px;
    height: 398px;
    border: 2px solid var(--primaryBlue);
    border-radius: 10px;
}

.product-box h2,
.product-box h3,
.product-box h4 {
    font-family: sans-serif;
    padding-bottom: 5px;
    color: var(--primaryBlue);
    text-align: center;
}

#product-boxes a {
    text-decoration: none;
}

.product-box img {
    max-width: 300px;
    max-height: 390px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h1 {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: var(--primaryBlue);
    text-align: center;
    text-shadow: 0px 15px 10px rgba(0, 0, 0, 0.2);
}

#contact p {
    text-align: center;
}

#contact-form h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: var(--primaryBlue);
    text-align: center;
    padding-block: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dcf8fa;
    padding: 10px 10px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid var(--primaryBlue);
    border-radius: 20px;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#contact-form input,
#contact-form button,
#contact-form textarea {
    display: flex;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
}

#contact-form button {
    margin-top: 20px;
}

.error {
    color: red;
}

.contact-form label,
.contact-form li {
    display: none;
}

.contact-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#contact-form a {
    text-decoration: none;
}

#contact-form button {
    padding: 10px 30px 10px 30px;
    color: white;
    background-color: var(--primaryBlue);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#contact-form button:hover {
    letter-spacing: 3px;
    background-color: white;
    color: var(--primaryBlue);
    border: 1px solid var(--primaryBlue);
}

#contact p {
    font-size: 18px;
    max-width: 900px;
    margin-top: 20px;
    color: #000;
}

#contact-details {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: sans-serif;
}

#contact-details b {
    color: var(--primaryBlue);
}

#location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.location-panel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px;
    max-width: 1300px;
    color: white;
    background-color: var(--primaryBlue);
    border: 1px solid var(--primaryBlue);
    border-radius: 10px;
}

.location-panel img {
    max-width: 300px;
    border-radius: 10px;
}

.location-panel p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}

.location-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
}

.location-text img {
    max-width: 30px;
    max-height: 40px;
}

.location-text b {
    color: rgb(236, 97, 97);
}

.location-address {
    display: flex;
    margin-left: 10px;
}

.location-address p {
    margin-top: 4px;
}

#group {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

#group p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: sans-serif;
}

#group img {
    margin-bottom: 20px;
}

#about-box-left p,
#about-box-right p {
    font-size: 30px;
    font-family: sans-serif;
    padding: 20px;
    margin-top: 10px;
}

.person-description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 20px;
}

.person-description h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: var(--primaryBlue);
    text-decoration: underline;
    margin-bottom: 5px;
}

.about-box-left {
    display: flex;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    margin-left: 100px;
    max-width: 1000px;
}

.about-box-right {
    display: flex;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    margin-left: 300px;
    max-width: 1000px;
}

#individual-descriptions {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.about-box-left img,
.about-box-right img {
    min-width: 210px;
    max-height: 280px;
}

.about-description h3 {
    margin-left: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: monospace;
    color: #06599c;
}

.about-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#service-cards {
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-card {
    background-color: transparent;
    width: 400px;
    height: 320px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    margin-left: 60px;
    margin-bottom: 60px;
}


/* This container is needed to position the front and back side */

.service-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.service-card:hover .service-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.service-card-front,
.service-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.service-card-front {
    background-color: white;
    color: black;
}

.service-card-front h1 {
    color: var(--primaryBlue);
    margin-top: 30px;
    padding: 10px;
}

.service-card-front img {
    margin-top: 30px;
}

.service-card-back p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
}


/* Style the back side */

.service-card-back {
    background-color: var(--primaryBlue);
    color: white;
    transform: rotateY(180deg);
}

.service-card-back h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.machine-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.machine-title h1,
.machine-title h3 {
    color: var(--primaryBlue);
    font-family: sans-serif;
}

.machine-title hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.return {
    display: flex;
    justify-content: center;
}

.mobile-show {
    display: none;
}

.return a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: var(--primaryBlue);
    border: 2px solid var(--primaryBlue);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.return a:hover {
    letter-spacing: 2px;
    opacity: 0.6;
}

.machine-display-and-specs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

.machine-display-and-specs img {
    width: 45vh;
    border: 2px solid var(--primaryBlue);
    border-radius: 20px;
}

.machine-display-and-specs .specs {
    border: 2px solid black;
    border-radius: 10px;
    height: auto;
    width: 450px;
}

.machine-suited-for {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.machine-suited-for h1 {
    color: var(--primaryBlue);
    font-size: 35px;
    font-family: sans-serif;
    text-decoration: underline;
}

.machine-suited-for p {
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 15px;
}

.machine-brochure {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.machine-brochure a {
    text-decoration: none;
    color: #fff;
    background-color: var(--primaryBlue);
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.machine-brochure a:hover {
    letter-spacing: 3px;
    opacity: 0.7;
    transition: 0.2s linear;
}

.yt-video {
    display: flex;
    justify-content: center;
}

iframe {
    border: 4px solid var(--primaryBlue);
    border-radius: 20px;
    margin-bottom: 10px;
}

@media (min-width: 900px) {
    .hamburger {
        display: none;
    }
    .hamburgerLinks a {
        display: none;
    }
    .menu {
        display: flex;
    }
}

@media (max-width: 900px) {
    .align2 {
        display: none;
    }
    .heading1 {
        font-size: 20px;
        padding: 0 5px;
    }
    #scrubbers-intro a {
        font-size: 15px;
    }
    #welcome .text {
        padding-left: 5vh;
        padding-right: 5vh;
        font-size: 12px;
        line-height: 17px;
    }
    .about-box-left {
        flex-wrap: wrap;
        align-items: center;
        margin-left: 0px;
    }
    .about-box-right {
        flex-wrap: wrap;
        align-items: center;
        margin-left: 0px;
    }
    #home-boxes {
        margin-top: 0;
        padding-top: 0;
    }
    .home-box {
        margin-top: 0;
        margin-left: 0;
    }
    .home-box img {
        max-width: 300px;
    }
    .location-panel {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 8px;
    }
    .location-text img {
        max-height: 20px;
        max-height: 25px;
        margin-top: 10px;
        margin-right: 7px;
    }
    .location-panel p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .location-address p {
        margin: 0 5px 0 0;
        font-size: 12px;
    }
    #service-cards {
        padding: 0;
    }
    .service-card {
        margin: 5px 3px;
        max-width: 350px;
        max-height: 300px;
    }
    .service-card img {
        max-width: 200px;
        max-height: 150px;
    }
    #service-videos p {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 17px;
    }
    .yt-video {
        max-width: 250px;
        margin: 0 auto;
    }
    .product-box {
        max-width: 300px;
        margin-left: 0;
    }
    #products-intro p {
        padding: 0 20px;
        font-size: 13px;
        line-height: 17px;
    }
    .machine-display-and-specs img {
        margin-bottom: 10px;
        max-width: 350px;
    }
    .machine-suited-for h1 {
        font-size: 20px;
        align-self: center;
    }
    .machine-suited-for p {
        font-size: 15px;
        padding: 0 20px;
        text-align: center;
    }
    .machine-brochure a {
        align-self: center;
        font-size: 15px;
        max-width: 80%;
    }
    #contact-form {
        max-width: 90%;
    }
    #contact-form input {
        max-width: 80%;
    }
    #contact-details {
        margin-left: 20px;
        font-size: 15px;
    }
    #contact h1 {
        font-size: 25px;
        margin: 0;
        padding: 0;
    }
    #contact p {
        font-size: 15px;
        padding: 0 25px;
    }
    #group img {
        max-width: 350px;
    }
    #group p {
        font-size: 12px;
        padding: 0 10px;
        margin: 0;
    }
    .person-description {
        max-width: 80%;
    }
    #about-boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%;
    }
    .about-box-left,
    .about-box-right {
        max-width: 100%;
    }
    .person-description h2 {
        font-size: 20px;
    }
    .mobile-hide {
        display: none;
    }
    .mobile-show {
        display: block;
    }
    #footer p {
        font-size: 12px;
    }
}