{% extends "base.html" %}
{% load static %}
{% block docTitle %}
<title>Polishers</title>
{% endblock %}
{% block navLinks %}
<a href="../../">Home</a>
<a href="../../products">Products</a>
<a href="../../services">Services</a>
<a href="../../about">About</a>
<a href="../../contact">Contact</a>
{% endblock %} 
{% block hamburgerNavLinks %} 
<a href="../../">Home</a>
<a href="../../products">Products</a>
<a href="../../services">Services</a>
<a href="../../about">About</a>
<a href="../../contact">Contact</a>
{% endblock %} 
{% block content %}
<main>
    <section id="polishers-intro">
      <h1 class="heading1">Floor Polishers</h1>
      <a href="../">Return to Products</a>
      <hr />
    </section>
    <section id="product-boxes">
      <a href="fc1517">
        <div class="product-box">
          <img src="{% static 'images/fc-1517.png' %}" alt="FC-1517" />
          <div class="product-brief">
            <h2>FC-1517</h2>
            <h3>Multi-Function Floor Machine</h3>
          </div>
        </div>
      </a>
      <a href="fc2517">
        <div class="product-box">
          <img src="{% static 'images/fc-2517.png' %}" alt="FC-2517" />
          <div class="product-brief">
            <h2>FC-2517</h2>
            <h3>Stripping & Grinding Machine</h3>
          </div>
        </div>
      </a>
    </section>
  </main>
{% endblock %}