{% extends "base.html" %}
{% load static %}
{% block docTitle %}
<title>Scrubbers</title>
{% endblock %}
{% block navLinks %}
<a href="../../">Home</a>
<a href="../../products">Products</a>
<a href="../../services">Services</a>
<a href="../../about">About</a>
<a href="../../contact">Contact</a>
{% endblock %} 
{% block hamburgerNavLinks %} 
<a href="../../">Home</a>
<a href="../../products">Products</a>
<a href="../../services">Services</a>
<a href="../../about">About</a>
<a href="../../contact">Contact</a>
{% endblock %} 
{% block content %}
<main>
    <section id="scrubbers-intro">
      <h1 class="heading1">Floor Scrubbers</h1>
      <hr />
      <a href="../">Return to Products</a>
    </section>
    <section id="product-boxes">
      <a href="i15b">
        <div class="product-box">
          <img src="{% static 'images/i15b.png' %}" alt="i15b" />
          <div class="product-brief">
            <h2>i15B</h2>
            <h3>Walk Behind Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="i35b">
        <div class="product-box">
          <img src="{% static 'images/i35b.png' %}" alt="i35b" />
          <div class="product-brief">
            <h2>i35B</h2>
            <h3>Walk Behind Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="i50b">
        <div class="product-box">
          <img src="{% static 'images/i50b.png' %}" alt="i50b" />
          <div class="product-brief">
            <h2>i50B</h2>
            <h3>Walk Behind Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="i50bt">
        <div class="product-box">
          <img src="{% static 'images/i50bt.png' %}" alt="i50bt" />
          <div class="product-brief">
            <h2>i50BT</h2>
            <h3>Walk Behind Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="i70bt">
        <div class="product-box">
          <img src="{% static 'images/i70bt.png' %}" alt="i70bt" />
          <div class="product-brief">
            <h2>i70BT</h2>
            <h3>Walk Behind Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="i130">
        <div class="product-box">
          <img src="{% static 'images/i130.png' %}" alt="i130" />
          <div class="product-brief">
            <h2>i130</h2>
            <h3>Ride On Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="i150">
        <div class="product-box">
          <img src="{% static 'images/i150.png' %}" alt="i150" />
          <div class="product-brief">
            <h2>i150</h2>
            <h3>Ride On Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="gm50b">
        <div class="product-box">
          <img src="{% static 'images/gm50b.png' %}" alt="GM50B" />
          <div class="product-brief">
            <h2>GM50B</h2>
            <h3>Walk Behind Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="gm56bt">
        <div class="product-box">
          <img src="{% static 'images/gm56bt.png' %}" alt="GM56BT" />
          <div class="product-brief">
            <h2>GM56BT</h2>
            <h3>Walk Behind Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="gm70bt">
        <div class="product-box">
          <img src="{% static 'images/gm70bt.png' %}" alt="GM70BT" />
          <div class="product-brief">
            <h2>GM70BT</h2>
            <h3>Walk Behind Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="gm65rbt">
        <div class="product-box">
          <img src="{% static 'images/gm65rbt.png' %}" alt="GM65RBT" />
          <div class="product-brief">
            <h2>GM65RBT</h2>
            <h3>Walk Behind Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="gm130">
        <div class="product-box">
          <img src="{% static 'images/gm130.png' %}" alt="GM130" />
          <div class="product-brief">
            <h2>GM130</h2>
            <h3>Ride On Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="gm160">
        <div class="product-box">
          <img src="{% static 'images/gm160.png' %}" alt="GM160" />
          <div class="product-brief">
            <h2>GM160</h2>
            <h3>Ride On Scrubber</h3>
          </div>
        </div>
      </a>
      <a href="gm230">
        <div class="product-box">
          <img src="{% static 'images/gm230.png' %}" alt="GM230" />
          <div class="product-brief">
            <h2>GM230</h2>
            <h3>Ride On Scrubber</h3>
          </div>
        </div>
      </a>
    </section>
  </main>
{%  endblock %}